body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

header img {
    width: 60px;
    height: 60px;
    left: 1%;
}

footer img {
    height: 20px;
    width: 22px;
}

header {
    display: flex;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.loginButton {
    position: absolute;
    right: 2%;
    text-decoration: none;
    color: black;
}

footer {
    background-color: rosybrown;
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    vertical-align: middle;
}

footer a {
    text-decoration: none;
    color: black;
}

footer p {
    position: absolute;
    left: 44%;
    font-size: 10px;
    bottom: 0;
}

.socialMedia {
    position: absolute;
    right: 2%;
}

footer>a {
    margin: 2%;
}

@media screen and (max-device-width: 576px) {
    footer {
        background-color: rosybrown;
        display: flex;
        align-items: center;
        height: 90px;
        position: fixed;
        width: 100%;
        bottom: 0px;
    }

    footer .btn {
        width: 105px;
        height: 35px;
    }

    footer p {
        position: absolute;
        left: 38%;
        font-size: 10px;
        top: 5px;
    }
}