body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}

header img {
    width: 60px;
    height: 60px;
}

footer img {
    height: 20px;
    width: 22px;
}

header {
    background-color: rosybrown;
}

nav {
    background-color: rosybrown;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.loginButton {
    position: absolute;
    right: 15px;
    text-decoration: none;
    color: black;
}

footer {
    background-color: rosybrown;
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer p {
    position: absolute;
    left: 44%;
    font-size: 10px;
    bottom: 0;
}

.socialMedia {
    position: absolute;
    right: 10px;
}

footer>a {
    margin: 1%;
}