section img {
    margin: 2% 4% 0% 4%;
    height: 70%;
    width: 60%;
    margin-left: 20%;
}

.firstImg {
    margin-bottom: -5%;
}

form {
    height: 100%;
    width: 100%;
}

.description {
    margin: 1% 4% 2% 4%;
}

section {
    margin-top: 10%;
    margin-bottom: 6%;
}

.bookingDetails {
    display: flex;
    align-items: center;
    height: 450px;
}

.hotelImage {
    margin-left: 2%;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
}

.paymentDetails {
    margin-right: 2%;
    border: 1px solid black;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment {
    margin-bottom: 1%;
    margin-left: 8%;
    margin-top: 8%;
    height: 100%;
    width: 100%;
}

.payment form {
    height: 100%;
    width: 100%;
}

.payment form input {
    display: inline-block;
    width: 60%;
    margin: 6%;
    margin-left: 9%;
    text-align: left;
    margin-right: 10px;
}

.payment form button {
    margin-left: 150px;
    width: 100px;
    margin-top: -6px;
    width: 100px;
}

.description h5 {
    font-family: cursive;
}

/* 
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}
.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: rosybrown;
}
.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: red;
} */

header {
    z-index: 1;
}