html,body{
    min-height: 100%;
    min-width: 100%;
    margin: 0%;
}
#radisson-blu{
    height: 500px;
    width: 500px;
}
header ,footer{
    background-color: rosybrown;
}
body{
    background-color: #e0e0e0;
};
.radisson{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
.form{
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;
}
.description{
    margin: 1% 4% 2% 4%;
}
