html,body{
    min-height: 100%;
    min-width: 100%;
    margin: 0%;
}
.socialmedia{
    height: 20px;
    width: 22px;
}
body{
    background-color: #e0e0e0;
};
header ,footer{
    background-color: rosybrown;
}
#searchBar{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cityImg{
    margin-right: 15%;
    margin-left: 15%;
}
.city1{
    padding: 4%;
    border-radius: 25%;
}