section img {
    height: 150px;
    width: 150px;
    border-radius: 25px;
}

.search {
    height: 450px;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    border-radius: 10px;
    outline: 0;
    border: none;
    width: 400px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.hotel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.card {
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

section {
    height: 800px;
}

.viewMore {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 10%;
}

.card img {
    box-shadow: 10px 10px 10px grey;
}

.cityName {
    position: absolute;
    margin: auto;
    color: #f1f1f1;
    display: none;
}

.card :hover {
    filter: brightness(50%);
}

.card :hover+.cityName {
    display: block;
}

.form-group row {
    margin: 5%;
}

.text-center {
    margin-top: 5%;
}

@media screen and (min-device-width: 576px) and (max-device-width: 768px) {

    section {
        height: 1000px;
        display: flex;
        flex-direction: column;
    }

    .hotel {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        height: 450px;
    }

    .card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        border: none;
    }

    .search input {
        width: 180px;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (max-device-width: 576px) {
    section {
        height: 1280px;
        display: flex;
        flex-direction: column;
    }

    .search input {
        width: 250px;
        border: 1px solid white;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
        border-radius: 12px;
        outline: none;
    }

    .hotel {
        display: grid;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: center;
        margin-top: 140px;
        margin-bottom: 140px;
        height: 450px;
    }

    .card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin-bottom: 20px;
    }
}
