section img {
    height: 150px;
    width: 150px;
    border-radius: 25px;
}

form {
    height: 450px;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotel {
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.card {
    padding: 4%;
    border-radius: 25px;
}

section {
    height: 800px;
}

.viewMore {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

form input {
    width: 400px;
    border: 1px solid white;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
}