#list-view img {
    width: 250px;
    height: 200px;
}

#list-view .hotel {
    margin: 2%;
    background-color: lightgray;
    display: flex;
    width: 40%;
    margin-right: 60px;
    margin-left: 80px;
    margin-bottom: 6%;
}

section {
    margin-bottom: 50px;
}

#map-view {
    display: none;
}

section ul {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

section ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

section ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hotel a {
    text-decoration: none;
    color: black;
}

#list-view {
    display: flex;
    flex-wrap: wrap;
}

.hotelDetails {
    margin-left: 110%;
    margin-top: -80%;
    width: 100%;
    margin-bottom: 34%;
}