#list-view img {
    width: 250px;
    height: 200px;
}

#list-view .hotel {
    margin: 2%;
    background-color: lightgray;
    display: flex;
    width: 40%;
    margin-right: 60px;
    margin-left: 80px;
    margin-bottom: 6%;
}

section {
    margin-bottom: 50px;
    width: 100%;
}

/* #map-view {
    display: none;
} */

#list-view .hotel:hover {
    margin-right: 60px;
    margin-left: 80px;
    background-color: rosybrown;
}

section ul {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

section ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

section ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hotel a {
    text-decoration: none;
    color: black;
}

#list-view {
    display: flex;
    flex-wrap: wrap;
}

.hotelDetails {
    margin-left: 110%;
    margin-top: -80%;
    width: 100%;
    margin-bottom: 34%;
    color: black;
    padding-top: 2%;
}

.hotelDetails h3 {
    margin-top: 10px;
}

.hotelDetails1 {
    padding: 1.9% 4%;
}

.checked {
    color: orange;
}

@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
    #list-view .hotel {
        margin: 2%;
        background-color: lightgray;
        width: 1500px;
        display: flex;
    }

    .hotel img {
        width: 300px;
        height: 150px;
    }

    section ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-top: 50px;
    }

    .hotelDetails {
        margin-left: 5%;
        margin-top: -6%;
        width: 100%;
        margin-bottom: 34%;
        color: black;
        padding-top: 2%;
    }

    #list-view .hotel {
        margin: 2%;
        background-color: lightgray;
        display: flex;
        width: 70%;
        margin-right: 65px;
        margin-left: 80px;
        margin-bottom: 10%;
    }
}

@media screen and (max-device-width: 576px) {
    section ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-top: 50px;
    }

    .hotel {
        display: flex;
        flex-direction: column;
        margin: 2%;
        background-color: lightgray;
        width: 700px;
        display: flex;
    }

    .hotel img {
        width: 450px;
        height: 400px;
    }

    .hotelDetails {
        margin-left: 5%;
        margin-top: -6%;
        width: 100%;
        margin-bottom: 34%;
        color: black;
        padding-top: 2%;
    }

    #list-view .hotel {
        margin: 2%;
        background-color: lightgray;
        display: flex;
        width: 70%;
        margin-right: 65px;
        margin-left: 80px;
        margin-bottom: 6%;
    }
}