.content {
    position: absolute;
    top: 45%;
    left: 45%;
}

.loader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #444444;
}