html,body{
    min-height: 100%;
    min-width: 100%;
    margin: 0%;
}
.loader{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 12px;
    border-color: #f3f3f3;
    border-top: #444444;
}